SharePointMigrationTool/Service References/DatabaseServices/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SPMToolServices.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SPMToolServices.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfListInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListInfo" nillable="true" type="tns:ListInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListInfo" nillable="true" type="tns:ArrayOfListInfo" />
  <xs:complexType name="ListInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="GUId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="InternalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListInfo" nillable="true" type="tns:ListInfo" />
</xs:schema>