SharePointMigrationTool/Service References/DatabaseServices/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50398/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SPMToolServices.DataContracts" />
  <xs:element name="GetLists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SPMToolServices.DataContracts" minOccurs="0" name="GetListsResult" nillable="true" type="q1:ArrayOfListInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>